// Override default variables before the import

/* -------customization-------- */

$gray-100: #f8f9fa;
$gray-600: #868e96;
$gray-800: #343a40;
$black: #000;
$blue: #b490f5;
$red: #dc3545;
$yellow: #ffc107;
$cyan: #17a2b8;

$theme-colors: (
  primary: #bca8e0,
  info: #7b8db0
);

$body-bg: #e9effb;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
